.Pokedeck {
    text-align: center;

    .Pokedeck__status_winner {
        color: rgba(4, 119, 4, 0.993);
        margin-bottom: 0;
    }

    .Pokedeck__status_loser {
        color: red;
        margin-bottom: 0;
    }

    .Pokedeck__deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1rem;
    }
}